@import "../../../styles.scss";
.footer-toolbox-item:hover {
    background: rgba($white, 0.3);
}

.footer-toolbox-item {
    .toolbox-button * {
        color: $white;
        display: inline;
    }
    .toolbox-button {
        width: 100%;
        padding: 0;
        margin: auto;
        background: none;
    }
    width: 100%;
}

.line-button {
    font-size: 0.9rem;
    min-height: 1.6rem;
    width: 100%;
    margin: 0;
    background: #EEE;
    border-bottom: 1px solid white;
    color: $primary-color
}

.line-button:hover {
    background: #CCC;
}

.line-button:last-child {
    border-bottom: none;
}