@import "../../../styles.scss";

.footer-toolbox {
    width: 100%;
    background: $info-color;
    display: block;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    



}
