<footer class="footer-toolbox">
    <div class="row ">
        <div *ngFor="let item of items" [ngClass]="'small-'+item.width" class="columns">
            <app-footer-toolbox-item [footerItem]=item></app-footer-toolbox-item>
        </div>
    </div>
</footer>