<div class="footer-toolbox-item">

    <div tabindex="0" class="dropdown-clickable">
        <span class="button toolbox-button tooltip2">
            
             <span class="tooltiptext">{{footerItem.toolTip}}</span>
        <i [ngClass]="'fa-'+footerItem.iconKey" class="fa " aria-hidden="true"></i>
        <label>{{displayName}}</label>
        </span>
        <div class="dropdown-content">
            <button *ngFor="let item of footerItem.allValues" class="line-button" (click)="updateValue(item)">
                {{footerItem.displayNameSelector(item)}}
            </button>
        </div>
    </div>
</div>