<div class="columns medium-6 large-6 small-12">
  <div class="card">

    <div class="card-row">
      <div class="columns small-1">
        <i class="fa fa-plane" aria-hidden="true" style="font-size: xx-large;"></i>
      </div>
      <div class="columns small-5">
        <span class="text-justify">{{ticket.departure}}</span><br>
        <span class="text-justify">{{ticket.departureTime | date:"short"}}</span>
      </div>
      <div class="columns small-1 ">
        <i class="fa fa-plane fa-rotate-90" aria-hidden="true" style="font-size: xx-large;"></i>
      </div>
      <div class="columns small-5">
        <span class="text-justify">{{ticket.arrival}}</span><br>
        <span class="text-justify">{{ticket.arrivalTime | date:"short"}}</span>
      </div>
    </div>
    <div class="card-row">
      <div class="columns small-1"><label>Price</label></div>
      <div class="columns small-2">
        <span class="text-justify">{{ticket.price}}</span>
      </div>
      <div class="columns small-1"><label>Seat</label></div>
      <div class="columns small-2">
        <span class="text-justify">{{ticket.seat}}</span>
      </div>
      <div class="columns small-2"><label>State</label></div>
      <div class="columns small-4">
        <span class="text-justify">{{getState()}}</span>
      </div>
    </div>

    <div class="card-row">
      <div class="columns small-3"><label>Carrier account</label></div>
      <div class="columns small-8 end">
        <span>{{ticket.carrierAccount}}</span>
      </div>
    </div>

    <div *ngIf="secretPayload === undefined && this.ticket.secretPayload">

      <div class="card-row">
        <div class="columns small-3">
          <div>Encrypted payload</div>
        </div>
        <div class="columns small-8 end">
          <textarea spellcheck="false" readonly rows="7" style="word-wrap: break-word; white-space: pre-wrap;">
            {{this.ticket.secretPayload}}
          </textarea>
        </div>
      </div>
      <div class="card-row">
        <div class="columns small-3"><label>Customer Account</label></div>
        <div class="columns small-8 end">
          <span>{{this.ticket.customerAccount}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="secretPayload !== undefined">
      <div class="card-row dimmed" style="text-align: center">
        <div class="columns small-12">Passenger</div>
      </div>
      <div class="card-row">
        <div class="columns small-2"><label>Name</label></div>
        <div class="columns small-4">
          <span>{{secretPayload.passenger.name}}</span>
        </div>
        <div class="columns small-2"><label>Surname</label></div>
        <div class="columns small-4">
          <span>{{secretPayload.passenger.surname}}</span>
        </div>
      </div>
      <div class="card-row">
        <div class="columns small-1"><label>Age</label></div>
        <div class="columns small-1">
          <span>{{secretPayload.passenger.age}}</span>
        </div>
        <div class="columns small-1"><label>Id</label></div>
        <div class="columns small-3">
          <span>{{secretPayload.passenger.passportId}}</span>
        </div>
        <div class="columns small-2"><label>Nationality</label></div>
        <div class="columns small-4">
          <span>{{secretPayload.passenger.nationality}}</span>
        </div>
      </div>
      <div class="card-row dimmed" style="text-align: center">
        <div class="columns small-12">Customer</div>
      </div>
      <div class="card-row">
        <div class="columns small-2"><label>Name</label></div>
        <div class="columns small-4">
          <span>{{secretPayload.customer.name}}</span>
        </div>
        <div class="columns small-2"><label>Surname</label></div>
        <div class="columns small-4">
          <span>{{secretPayload.customer.surname}}</span>
        </div>
      </div>
      <div class="card-row">
        <div class="columns small-2"><label>Account</label></div>
        <div class="columns small-8 end">
          <span>{{this.ticket.customerAccount}}</span>
        </div>
      </div>

    </div>

  </div>