@import "../../styles.scss";
@import "../../../node_modules/foundation-sites/scss/components/_tooltip.scss";


.event-publish-button{
  @include button;
  width: 100%;
  background: $success-color;
  margin: 0;
  padding: 0.4rem;
}

.event-publish-button:disabled{
  background: $secondary-color;
}

.event-status-bar{
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1em;
  border: none;
}
.unconfirmed{
  background:$warning-color
}
.invalid{
  background:$invalid-color
}
.confirmed{
  background:$success-color
}


