<div class="columns medium-6 large-6 small-12">
  <div class="card">

    <div class="card-row">
      <div class="columns small-4">
        <span class="text-justify">{{event.event.type}}</span>
      </div>
      <div class="columns small-6 ">
        <span class="text-justify">{{event.event.createdOn | date:"medium"}}</span>
      </div>
    </div>

    <div [ngSwitch]="event.event.type">
      <app-coinbase-created [event]="event" *ngSwitchCase="'CoinbaseCreated'">CoinbaseCreated</app-coinbase-created>
      <app-money-transferred [event]="event" *ngSwitchCase="'MoneyTransferred'">MoneyTransferred</app-money-transferred>
      <app-ticket-purchased [event]="event" *ngSwitchCase="'TicketPurchased'" (prePublishValidationErrorsCounted)="handlePrePublishValidationErrors($event)">
        MoneyTransferred
      </app-ticket-purchased>

      <div *ngSwitchDefault>
        <div class="card-row">
          <div class="columns small-3">Payload</div>
          <div class="columns small-8 end">
            <textarea spellcheck="false" [(ngModel)]="payload" rows="7"></textarea>
          </div>
        </div>
      </div>
    </div>

    <app-signable-event [event]="event" *ngIf="this.handler.getSignature"> </app-signable-event>

    <div class="card-row">
      <div class="columns small-3 ">
        <div class="row no-margin">
          <div class="columns small-8">Published </div>
          <div class="columns small-3" *ngIf="!isHashValid()">
            <button class="button right has-tip hash-paste-button" (click)="copyCalculatedHash()" data-tooltip aria-haspopup="true" title="Copy calculated hash">
              <i class="fa fa-clipboard " aria-hidden="true"  ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="columns small-8 end">
        <input type="text" spellcheck="false" [(ngModel)]="this.event.event.hash" placeholder="hash" />
      </div>
    </div>

    <div class="card-row dimmed">
      <div class="columns small-3">
        <label data-tooltip aria-haspopup="true" class="has-tip" title="Actual hash of current event">
        Calculated
      </label>
      </div>
      <div class="columns small-8 end">
        <span>{{calculateHash()}}</span>
      </div>
    </div>

    <div class="card-status-bar invalid" *ngIf="status ==='invalid'">
      <div class="columns small-3">{{status}}</div>
      <div class="columns small-8 end ">
        <div *ngFor="let error of errorsMessages">{{error}}</div>
      </div>
      <div *ngIf="softErrorMessages.length > 0">
        <div class="columns small-12 unconfirmed" style="padding-left: 1rem"> Soft validation errors</div>
        <div class="columns small-3">
          <p>These validation errors cannot be enforced by the network</p>
        </div>
        <div class="columns small-8 end">
          <div *ngFor="let error of softErrorMessages">{{error}}</div>
        </div>
      </div>
    </div>
    <div class="card-status-bar unconfirmed" *ngIf="status ==='unconfirmed'">
      <div>{{status}}</div>
    </div>
    <div class="card-status-bar confirmed" *ngIf="status ==='confirmed'">
      <div class="columns small-3">{{status}}</div>
      <div class="columns small-8 end">
        <span>In block: {{this.event.confirmedInBlock.hash}}</span>
      </div>
    </div>

    <div class="row" *ngIf="!event.isPublished">
      <button class="event-publish-button" [attr.disabled]="!isValid? true: null" (click)="publishEvent()" type="button">Publish</button>
    </div>
  </div>
</div>