<div class="row">
  <app-event *ngFor="let event of events;" [event]="event"></app-event>
</div>



<div class="row" *ngIf="notPublishedEvents.length !== 0">
  <div class="row section-title">
    <h5> Not Published events</h5>
  </div>

  <app-event *ngFor="let event of notPublishedEvents;" [event]="event"></app-event>
</div>

<app-add-new-event (newEventAdded)="addNewEvent($event)" ></app-add-new-event>