<div>

    <div class="row section-title">
        <h5> Account balances</h5>
    </div>

    <app-accounts></app-accounts>

    <div class="row section-title">
        <h5> Account secrets</h5>
    </div>

    <app-account-secrets></app-account-secrets>
</div>