<div class="dropdown">
    <button class="button round fade-in" type="button" style="margin:1rem; height:4rem; width:4rem;">
        <i class="fa fa-plus" aria-hidden="true" style="font-size:2rem" ></i>
    </button>
    <div class="dropdown-content dropdown-pane top">
        <button class="button line-button disabled" (click)="addNewCoinbaseCreated()">Coinbase Created</button>
        <button class="button line-button" (click)="addNewMoneyTransferred()">Money Transferred</button>
        <button class="button line-button" (click)="addNewTicketAnnounced()">Announce Flight Ticket</button>
        <button class="button line-button" (click)="addNewTicketPurchased()">Purchase Flight Ticket</button>
        <button class="button line-button" (click)="addNewTicketCancelled()">Cancel Flight Ticket</button>
    </div>
</div>