@import "../../../styles.scss";

.line-button{
  width: 100%;
  margin: 0;
  background: #EEE;
  border-bottom: 1px solid white;
  color: $primary-color
}

.line-button:hover{
  background: #CCC;
}

.line-button:last-child{
  border-bottom:none;
}

.dropdown-pane{
  padding: 0;
  border: 0;
}


