<div class="row">
  <app-block *ngFor="let block of blocks;" [context]="block" #blockComponent (isValidChanged)="onBlockStateChanged($event)"></app-block>
</div>

<button class="button round fade-in" type="button" style="margin:1rem; height:4rem; width:4rem;" (click)="mineNewBlock()" >
   <i class="fa fa-plus" aria-hidden="true" style="font-size:2rem" ></i>
</button>