<div class="columns medium-6 large-6 small-12">
  <div class="card">

    <div class="card-row">
      <div class="columns small-3">
        <div class="row no-margin ">
          <div class="small-3 columns">
            <label data-tooltip aria-haspopup="true" class="has-tip float-left" title="Sequential number of the block">
        <i class="fa fa-hashtag"></i>
        </label>
          </div>
          <div class="small-9 columns">
            <input type="number" [(ngModel)]="this.context.block.height" class="float-right" />
          </div>
        </div>
      </div>
      <div class="columns small-7 ">
        <span class="text-justify">{{this.context.block.time | date:"medium"}}</span>
      </div>
      <div class="columns small-2 panel clearfix ">
        <button class="button right block-title-item has-tip" (click)="mineBlock()" data-tooltip aria-haspopup="true" title="Mine nonce">
      <i class="fa fa-repeat"  [class.fa-spin]="isMining" aria-hidden="true"></i>
      </button>
      </div>
    </div>

    <div class="card-row">
      <div class="columns small-3">Nonce</div>
      <div class="columns small-8 end">
        <input type="number" [(ngModel)]="this.context.block.nonce" placeholder="12345" />
      </div>
    </div>

    <div class="card-row">
      <div class="columns small-3">Events</div>
      <div class="columns small-8 end">
        <textarea spellcheck="false" [(ngModel)]="events" rows="3"></textarea>
      </div>
    </div>


    <div class="card-row">
      <div class="columns small-3 ">Previous block</div>
      <div class="columns small-8 end">
        <input type="text" spellcheck="false" [(ngModel)]="this.context.block.previousHash" placeholder="hash" />
      </div>
    </div>

    <div class="card-row">
      <div class="columns small-3 ">
        <div class="row no-margin ">
          <div class="columns small-8">Published</div>
          <div class="columns small-3" *ngIf="!isHashValid()">
            <button class="button right has-tip hash-paste-button" (click)="copyCalculatedHash()" data-tooltip aria-haspopup="true" title="Copy calculated hash">
              <i class="fa fa-clipboard " aria-hidden="true"  ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="columns small-8 end">
        <input type="text" spellcheck="false" [(ngModel)]="context.block.hash" placeholder="hash" />
      </div>
    </div>

    <div class="card-row dimmed">

      <div class="columns small-3"> Calculated
      </div>
      <div class="columns small-8 end">
        <span>{{calculateHash()}}</span>
      </div>
    </div>

    <div class="card-status-bar invalid" *ngIf="isValid===false">
      <div class="columns small-3">Invalid</div>
      <div class="row columns small-8 end">
        <span *ngFor="let error of errorsMessages" class="columns small-12">{{error}}</span>
      </div>
    </div>


  </div>
</div>