<ng-container [attr.readonly]="!reloading? true: null">
    <app-header></app-header>
    <router-outlet></router-outlet>

    <div style="min-height: 2rem"></div>
    <app-footer></app-footer>
</ng-container>