<header class="subnav-hero-section">
  <h1 class="subnav-hero-headline">{{title}} <small>by Lukas Klusis</small></h1>
  <ul class="subnav-hero-subnav">
    <li><a [routerLink]="['/blockchain']" [routerLinkActive]="['is-active']">Blockchain</a></li>
    <li><a [routerLink]="['/events']" [routerLinkActive]="['is-active']">Events</a></li>
    <li><a [routerLink]="['/accounts']" [routerLinkActive]="['is-active']">Accounts</a></li>
    <li><a [routerLink]="['/tickets']" [routerLinkActive]="['is-active']">Tickets</a></li>
  </ul>
</header>