<div>
  <div class="card-row">
    <div class="columns small-3 ">To</div>
    <div class="columns small-8 end">
      <input type="text" spellcheck="false" [(ngModel)]="event.event.payload.to" placeholder="Receiver" />
    </div>
  </div>

  <div class="card-row">
    <div class="columns small-3 ">Amount</div>
    <div class="columns small-8 end">
      <input type="number" [(ngModel)]="event.event.payload.amount"  />
    </div>
  </div>
</div>