<div class="card-row">
  <div class="columns small-3">
    <div class="row no-margin">
      <div class="columns small-8">Signature </div>
      <div class="columns small-3" *ngIf="canCalculateSignature === true">
        <button class="button right hash-paste-button has-tip" (click)="calculateSignature()" data-tooltip aria-haspopup="true" [attr.title]="'Sign as: ' + this._publicAddressCache">
              <i class="fa fa-clipboard " aria-hidden="true"  ></i>
            </button>
      </div>
    </div>
  </div>
  <div class="columns small-8 end">
    <input type="text" spellcheck="false" [(ngModel)]="this.event.event.signature" placeholder="signature"   />
  </div>
</div>