<div>
  <div class="card-row">
    <div class="columns small-3 ">
      <label data-tooltip aria-haspopup="true" class="has-tip" title="Hash that is saved in the blockchain">
                From
           </label>
    </div>
    <div class="columns small-8 end">
      <input type="text" spellcheck="false" [(ngModel)]="event.event.payload.from" placeholder="Sender" />
    </div>
  </div>

  <div class="card-row">
    <div class="columns small-3 ">
      <label data-tooltip aria-haspopup="true" class="has-tip" title="Hash that is saved in the blockchain">
                To
           </label>
    </div>
    <div class="columns small-8 end">
      <input type="text" spellcheck="false" [(ngModel)]="event.event.payload.to" placeholder="Receiver" />
    </div>
  </div>

  <div class="card-row">
    <div class="columns small-3 ">
      <label data-tooltip aria-haspopup="true" class="has-tip" title="Hash that is saved in the blockchain">
                Amount
           </label>
    </div>
    <div class="columns small-3 end">
      <input type="number" [(ngModel)]="event.event.payload.amount" placeholder="10" />
    </div>

    <div class="columns small-3 "> Fee </div>
    <div class="columns small-3 end">
      <input type="number" [(ngModel)]="event.event.payload.transactionFee" [attr.placeholder]="event.event.payload.amount * 0.002"
      />
    </div>
  </div>
</div>