<div>
    <div class="card-row">
        <div class="columns small-3 ">
            Ticket
        </div>
        <div class="columns small-8 end">
            <input type="text" spellcheck="false" [(ngModel)]="event.event.payload.ticket" placeholder="Ticket" />
        </div>
    </div>

    <div class="card-row">
        <div class="columns small-3 ">
            Customer Account
        </div>
        <div class="columns small-8 end">
            <input type="text" spellcheck="false" [(ngModel)]="event.event.payload.customerAccount" placeholder="Customer Account" />
        </div>
    </div>

    <div class="card-row">
        <div class="columns small-3">
            <div>Encrypted payload</div>
            <div *ngIf="!this.event.isPublished">Message size: {{secretPayloadSize}} </div>
        </div>
        <div class="columns small-8 end">
            <textarea spellcheck="false" [attr.readonly]="!this.event.isPublished ? true: null" [(ngModel)]="event.event.payload.secretPayload"
                rows="7" style="word-wrap: break-word; white-space: pre-wrap;"></textarea>
        </div>
    </div>

    <div *ngIf="!this.event.isPublished">
        <div class="card-row dimmed" style="text-align: center">
            <div class="columns small-12">Customer</div>
        </div>
        <div class="card-row">
            <div class="columns small-2 ">Name</div>
            <input class="columns small-3" spellcheck="false" [(ngModel)]="secretPayload.customer.name" />
            <div class="columns small-2 small-offset-1">Surname</div>
            <input class="columns small-3 end" spellcheck="false" [(ngModel)]="secretPayload.customer.surname" />
        </div>

        <div class="card-row dimmed" style="text-align: center">
            <div class="columns small-12">Passenger</div>
        </div>
        <div class="card-row">
            <div class="columns small-2 ">Name</div>
            <input class="columns small-3" spellcheck="false" [(ngModel)]="secretPayload.passenger.name" />
            <div class="columns small-2 small-offset-1">Surname</div>
            <input class="columns small-3 end" spellcheck="false" [(ngModel)]="secretPayload.passenger.surname" />
        </div>
        <div class="card-row">
            <div class="columns small-1 ">Age</div>
            <div class="columns small-1">
                <input type="number" [(ngModel)]="secretPayload.passenger.age" />
            </div>
            <div class="columns small-1" style="text-align: center">Id</div>
            <div class="columns small-2 ">
                <input type="text" spellcheck="false" [(ngModel)]="secretPayload.passenger.passportId" />
            </div>
            <div class="columns small-2 small-offset-1">Nationality</div>
            <div class="columns small-3 end">
                <input type="text" spellcheck="false" [(ngModel)]="secretPayload.passenger.nationality" />
            </div>
        </div>
        <div class="card-row dimmed" style="text-align: center">
            <div class="columns small-12">Event context</div>
        </div>
    </div>

</div>