.card {
  box-shadow: 0 1px 2px #aaa;
  background: white;
  margin: 0.5rem 1rem 1rem 0.5rem;
  border-radius: 3px;
  .has-tip {
    border-bottom: none;
    font-weight: inherit;
  }
  .button {
    background: $info-color;
  }
  .button i {
    color: white;
  }

  .invalid {
    background: $invalid-color;
  }

  .dimmed{
      background: darken(white, 10%)
    }

  input,
  input[type="number"],
  input[type="text"],
  {
    background: rgba(255, 255, 255, 0.3); //;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $light-gray;
    flex-grow: 0;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  textarea{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $light-gray;
    padding: 0.2rem;
    white-space: nowrap;
    overflow-x: scroll;
  }

  textarea{
    word-wrap: normal;
  }

  input:focus,
  textarea:focus,
  input[type="number"]:focus,
  input[type="text"]:focus,{
    border: none;
    border-bottom: 1px solid $info-color;
    outline: none;
  }

  .hash-paste-button{
  margin: 0;
  margin-right: 0.2rem;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
}


  }

.card>.columns,
  .columns {
  padding-left: 0;
  padding-right: 0;
}

.card-row {
  @include grid-row;
  border-bottom: 1px solid $light-gray;
  padding-left: 1rem;
  margin: 0;
  align-items : center;
  .columns {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
  }
}

.card-status-bar{
  @include grid-row;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  text-align: left;
  font-size: 1em;
  border: none;
  span{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inherit;
    }
  }




:host .card {
  animation: fly-in-from-left .5s 1s ease both;
}

:host:nth-child(even) .card {
  animation-name: fly-in-from-right;
  animation-delay: 1.1s;
  transform-origin: top right;
}

:host:nth-child(odd) .card {
  animation-name: fly-in-from-left;
  animation-delay: 1.1s;
  transform-origin: top left;
}

@keyframes fly-in-from-left {
  from {
    transform: translateY(15rem) rotate(15deg);
    opacity: 0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform: translateY(15rem) rotate(-15deg);
    opacity: 0;
  }
}