$primary-color :#1779ba;
$secondary-color: #767676;
$info-color: lighten($primary-color, 20%);
$success-color: #3adb76;
$warning-color :#cc9957;
$alert-color :#cc4b37;
$invalid-color :#ba324d;
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

button.round,
.button.round {
    border-radius: 1000px;
}

html {
    overflow-y: scroll
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip2 {
    cursor: help;
    .tooltiptext {
        visibility: hidden;
        bottom: 100%;
        width: 15rem;
        background-color: #444;
        border: #DDD;
        border-style: dotted;
        border-width: 2px;
        color: #fff;
        text-align: center;
        padding: 1rem;
        margin:  0 0 1rem -3rem ;
        border-radius: 1px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        transition: 0.2s 0.2s;
    }
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip2:hover {
    .tooltiptext {
        visibility: visible;
        transition-delay: 0.5s;
    }
}