.dropdown {
    display: inline-block;
    position: relative;
    .dropdown-content {
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        transition: 0.2s 1s;
    }
}

.dropdown:hover {
    .dropdown-content {
        visibility: visible;
        transition-delay: 0s;
    }
}



.dropdown-clickable {
    //http://koen.kivits.com/articles/pure-css-menu/
    position: relative;
    display: inline-block;
    width: 100%;

    .dropdown-content {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 100%;
        /* use opacity to fake immediate toggle */
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s;
    }
}

.dropdown-clickable:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
    .dropdown-content {
        /*  opacity is 1 in opened state (see below) */
        opacity: 1;
        visibility: visible;
        /* don't let pointer-events affect descendant elements */
        pointer-events: auto;
    }
}