/* You can add global styles to this file, and also import other style files */

@import "../node_modules/foundation-sites/scss/foundation.scss";
@import "./defaults.scss";
@import "./card.scss";
@import "./dropdown.scss";


.section-title{
  background: $info-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  color: white
}