<div class="columns medium-6 large-6 small-12">
    <div class="card">
        <div class="card-row">
            <input style="font-size: x-large" type="text" [(ngModel)]="account.displayName" placeholder="Display Name" />
        </div>
        <div class="card-row">
            <div class="row columns small-12">
                <div class="columns small-3"><label>Public Address</label></div>
                <div class="columns small-9">
                    <span class="text-justify">{{account.publicAddress}}</span>
                </div>
            </div>
            <div class="row columns small-12">
                <div class="columns small-3"><label>Private Key</label></div>
                <div class="columns small-9">
                    <span class="text-justify">{{account.privateKeyWIF}}</span>
                </div>
            </div>
        </div>

        <div *ngIf="getRsaKeys().length > 0">
            <div class="card-row dimmed" style="text-align: center">
                <div class="columns small-12">RSA Keys ({{getRsaKeys().length}})</div>
            </div>

            <div class="card-row" *ngFor="let key of getRsaKeys();">
                <div class="row columns small-12">
                    <div class="columns small-3"><label>Public Key</label></div>
                    <div class="columns small-9">
                        <span class="text-justify" >
                            {{key.getPublicKeyB64()}}
                        </span>
                    </div>
                </div>
                <div class="row columns small-12">
                    <div class="columns small-3"><label>Private Key</label></div>
                    <div class="columns small-9">
                        <span class="text-justify">{{key.getPrivateKeyB64()}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>